numpy
pandas
matplotlib
scipy # for reading/writing wav files
pillow
seaborn
scikit_learn

# tooling
jupyter
jupytext
jupyterlab-courselevels
jupyterlab-myst
ipywidgets
ipympl

# for authors only
# nbprune
# jupyter-book
